<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title>
          {{document.data.titulo}}
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-item>
        <ion-label>Título</ion-label>
        <ion-input [(ngModel)]="document.data.titulo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Juego</ion-label>
        <ion-input [(ngModel)]="document.data.juego"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Texto</ion-label>
        <ion-input [(ngModel)]="document.data.texto"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Plataformas</ion-label>
        <ion-select [(ngModel)]="document.plataforma" multiple>
          <ion-select-option value="PC">PC</ion-select-option>
          <ion-select-option value="Playstation 4">Playstation 4</ion-select-option>
          <ion-select-option value="Xbox One">Xbox One</ion-select-option>
          <ion-select-option value="Nintendo Switch">Nintendo Switch</ion-select-option>
        </ion-select>
      </ion-item>
        <ion-button (click)="clicBotonInsertar()">Añadir consejo</ion-button>
        <ion-button (click)="clicBotonModificar()">Modificar consejo</ion-button>
        <ion-button (click)="clicBotonBorrar()">Borrar consejo</ion-button>
  <ion-card>
    <ion-card-content>
      <h2>{{document.data.titulo}}</h2>
      <p>{{document.data.juego}}</p>
      <p>{{document.data.texto}}</p>
      <p>{{document.data.plataforma}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
